#ASD	{
		display:block;
		margin-left:auto;
		margin-right:auto;
		
}

body	{
		background-color:black;
	
}

h4	{
	font-family:"Courier New";
	color:white;
	text-align:center;
}

p	{
		color:white;
		font-family:"Courier New";
		text-align:center;
}

div	{
		background-color:#b30000;
		width:75px;
		height:25px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		border:3px solid #800000;
}

div p	{
		color:#ccccff;
		margin-top:5px;
		text-decoration:none;
		
}

.Edge	{
		color:white;
		text-align:right;
		bottom: 0;
		position:absolute;
		margin-top:40px;
		font-size:10px;
}

em	{
	color:red;	
}